<div class="kpis"  >
  <div>
    <p class="fs11 bold main-text-color">KEY PERFORMNCE INDICATORS</p>
  </div>

  <!-- <div class="col-xs-12" style="margin-top: 15px;">
    <div class="chart col-xs-3 no-padd-lr">
      <div class="text-mask fs13 main-text-color">{{summary.expansionRate.value}}</div>
      <app-chart [dataInput]="expChartData" [optionInput]='expChartOption'></app-chart>
      <div class="fs10 bold sub-text-color text-center" style="margin-top: 10px;">EXPANSION RATE</div>
    </div>
    <div class="chart col-xs-offset-1 col-xs-3 no-padd-lr" style="margin-left: 25px;">
        <div class="text-mask fs13 main-text-color">{{kpis.renewalRate.value}}</div>
      <app-chart [dataInput]="renChartData" [optionInput]='renChartOption'></app-chart>
      <div class="fs10 bold sub-text-color text-center" style="margin-top: 10px;">RENEWAL RATE</div>
      </div>
      <div class="chart col-xs-offset-1  col-xs-3 no-padd-lr" style="margin-left: 25px;">
          <div class="text-mask fs13 main-text-color">{{summary.cohortAnalysis.value}}</div>
        <app-chart [dataInput]="cohChartData" [optionInput]='cohChartOption'></app-chart>
        <div class="fs10 bold sub-text-color text-center" style="margin-top: 10px;">COHORT ANALYSIS</div>
        </div>
  </div> -->

  <div class="box bgc-body col-xs-12" style="margin-top: 22px; height:76px">



            <div class=" col-xs-4 no-padd-lr " >
                <div class="col-xs-2 no-padd-tb no-padd-lr">
                      <div> <img src="../../../../assets/dailyusers.svg" alt="fcf"></div>
                </div>
                <div class="col-xs-10 no-padd-r" style="padding-left: 10px;" > 
              
                      <div class="  fs11 bold main-text-color">{{kpis.dailyActiveUsers.value}}</div>
                      
                      <div class="fs10 sub-text-color bold">DAILY USERS</div>
      
                </div>      
                
            </div>
      
      
      
            <div class=" col-xs-4 no-padd-lr " style="padding-left: 7px !important;" >
                <div class="col-xs-2 no-padd-tb no-padd-lr">
                      <div> <img src="../../../../assets/registeredusers.svg" alt="fcf"></div>
                </div>
                <div class="col-xs-10 no-padd-r" style="padding-left: 10px;" > 
              
                      <div class="  fs11 bold main-text-color">{{kpis.registeredMebers.value}}</div>
                      
                      <div class="fs10 sub-text-color bold">RESISTERED USERS</div>
      
                </div>      
                
            </div>
      
      
      
      
            <div class=" col-xs-offset-1 col-xs-3 no-padd-lr " >
                <div class="col-xs-2 no-padd-tb no-padd-lr">
                      <div> <img src="../../../../assets/timelineviews.svg" alt="fcf"></div>
                </div>
                <div class="col-xs-10 no-padd-r" style="padding-left: 10px;" > 
              
                      <div class="  fs11 bold main-text-color">{{kpis.TimelineViews.value}}</div>
                      
                      <div class="fs10 sub-text-color bold">TIMELINE VIEWS</div>
      
                </div>      
                
            </div>
      
      
      
      
      
        </div>



  <div style="clear:both"></div>

  <div class="box bgc-body col-xs-12" style="margin-top: 32px; height:76px">



      <div class=" col-xs-4 no-padd-lr " >
          <div class="col-xs-2 no-padd-tb no-padd-lr">
                <div> <img src="../../../../assets/monthlyusers.svg" alt="fcf"></div>
          </div>
          <div class="col-xs-10 no-padd-r" style="padding-left: 10px;" > 
        
                <div class="  fs11 bold main-text-color">{{kpis.monthlyActiveUsers.value}}</div>
                
                <div class="fs10 sub-text-color bold">MONTHLY USERS</div>

          </div>      
          
      </div>



      <div class=" col-xs-4 no-padd-lr " style="padding-left: 7px !important;" >
          <div class="col-xs-2 no-padd-tb no-padd-lr">
                <div> <img src="../../../../assets/averagerev.svg" alt="fcf"></div>
          </div>
          <div class="col-xs-10 no-padd-r" style="padding-left: 10px;" > 
        
                <div class="  fs11 bold main-text-color">{{kpis.averageRevenuePerUser.value}}</div>
                
                <div class="fs10 sub-text-color bold">AVERAGE REV PER USER</div>

          </div>      
          
      </div>




      <div class="col-xs-offset-1 col-xs-3 no-padd-lr " >
          <div class="col-xs-2 no-padd-tb no-padd-lr">
                <div> <img src="../../../../assets/pageviews.svg" alt="fcf"></div>
          </div>
          <div class="col-xs-10 no-padd-r" style="padding-left: 10px;" > 
        
                <div class="  fs11 bold main-text-color">{{kpis.pageViews.value}}</div>
                
                <div class="fs10 sub-text-color bold">TOTAL PAGE VIEW</div>

          </div>      
          
      </div>





  </div>

</div>